@import "../../Variables.scss";

.comic-card {
  height: 100%;
  width: 100%;
  .comic-card-content {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: -1;
      border-radius: 5px;
    }
    .comic-card-favorite {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .comic-card-information {
      background-color: rgba(0, 0, 0, 0);
      color: rgba(255, 255, 255, 0);
      padding: 10px;
      .comic-card-favorite-hover {
        display: none;
        justify-content: flex-end;
        color: white;
      }
      h2 {
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        font-weight: 300;
        text-align: justify;
      }
    }
    &:hover {
      .comic-card-information {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 10px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .comic-card-favorite-hover {
          display: flex;
          justify-content: flex-end;
        }
        .comic-card-details {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          h2 {
            margin-bottom: 10px;
          }
          p {
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
  }
}
