@import "../../Variables.scss";

.characters {
  margin-bottom: 30px;
  .characters-hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h1 {
      margin-top: 20px;
      font-size: 32px;
      flex: 1;
    }
    .character-pagging-limit {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }

  .characters-content {
    display: flex;
    flex-wrap: wrap;
    .character-card {
      height: 300px;
      width: calc((#{$windowsWidth} / 5) - (12px * 4 / 5));
      margin-top: 10px;
      margin-right: 12px;
      &:nth-child(5n) {
        margin-right: 0px;
      }
    }
  }
  .characters-paging {
    flex: 1;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
