@import "../../Variables.scss";

.comics {
  .comics-hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h1 {
      margin-top: 20px;
      font-size: 32px;
      flex: 1;
      @media (max-width: 768px) {
        font-size: 22px;
      }
    }
    .comics-paging {
      @media (max-width: 575px) {
        display: none;
      }
    }
    .comics-pagging-limit {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
  .comics-content {
    display: flex;
    flex-wrap: wrap;
    .comic-card {
      height: 300px;
      width: calc((#{$windowsWidth} / 5) - (12px * 4 / 5));
      margin-top: 10px;
      margin-right: 12px;
      &:nth-child(5n) {
        margin-right: 0px;
      }
      @media (max-width: 1200px) {
        width: calc((#{$largeWindow} / 4) - (12px * 3 / 4));
        &:nth-child(5n) {
          margin-right: 12px;
        }
        &:nth-child(4n) {
          margin-right: 0px;
        }
      }
      @media (max-width: 992px) {
        width: calc((#{$mediumWindow} / 3) - (12px * 2 / 3));
        &:nth-child(4n) {
          margin-right: 12px;
        }
        &:nth-child(3n) {
          margin-right: 0px;
        }
      }
      @media (max-width: 768px) {
        width: calc((#{$smallWindow} / 2) - (12px * 1 / 2));
        &:nth-child(3n) {
          margin-right: 12px;
        }
        &:nth-child(2n) {
          margin-right: 0px;
        }
      }
      @media (max-width: 575px) {
        width: $mobile;
        margin-right: 0px;
      }
    }
  }

  .comics-paging {
    flex: 1;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
