// General css rules
@import "./Variables.scss";

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #202020;
  color: white;
  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  width: $windowsWidth;
  margin: 0 auto;
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 1200px) {
  .container {
    width: $largeWindow;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
  .container {
    width: $mediumWindow;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  .container {
    width: $smallWindow;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .container {
    width: $mobile;
  }
}
